<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>whatshappening.WebDeploy.Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://whatshappening.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>whatshappening.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>whatshappening</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$whatshappening</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WhatsHappeningEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=r7nuqqknjf.database.windows.net;Initial Catalog=WhatsHappening;Integrated Security=False;Persist Security Info=True;User ID=whUser;Password=Az#14whser;Connect Timeout=30;Encrypt=True" Name="Data Source=r7nuqqknjf.database.windows.net;Initial Catalog=WhatsHappening;Integrated Security=False;Persist Security Info=True;User ID=whUser;Password=Az#14whser;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WhatsHappening.Data.EF.WhatsHappeningEntities, WhatsHappening.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WhatsHappeningEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EF.WhatsHappening.csdl|res://*/EF.WhatsHappening.ssdl|res://*/EF.WhatsHappening.msl;provider=System.Data.SqlClient;provider connection string="Data Source=r7nuqqknjf.database.windows.net;Initial Catalog=WhatsHappening;Integrated Security=False;Persist Security Info=True;User ID=whUser;Password=Az#14whser;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>