
<div class="container">
    <div class="row">
        <h2>{{createEvent}}</h2>
    </div>
    <form>
        <div class="row">
            <div class="col-md-12">
                <h2>Event</h2>
                <input type="text" class="form-control" ng-model="eventName" ng-required="true" close-text="Close" />
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Address</h2>
                <input type="text" />
            </div>
        </div>
    </form>
</div>
