<div class="jumbotron">
    <div class="container">
        <h1>What's Happening?</h1>
        <p>Search for events near you.</p>
        <!--<p><a class="btn btn-primary btn-lg" role="button" href="#/createEvent">Create event &raquo;</a></p>-->
        <p><a class="btn btn-primary btn-lg" role="button" href="/Events/Create">Create event &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Date</h2>
            <!--<label>Select Date: <input type="text" ui-date ng-model="aDate"></label>
            <div>{{aDate}}</div>-->

            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>

            <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <h2>Where</h2>

            <input type="text" ng-model="asyncSelected" placeholder="Select a location" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>


            <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <h2>Category</h2>

            <select ui-select2 ng-model="get" data-placeholder="Select a category">
                <option value=""></option>
                <option ng-repeat="category in categories" value="{{category.Key}}">{{category.Value}}</option>
            </select>

            <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <!--<a class="btn btn-success btn-lg" role="button" ng-href="#/searchResults/date/{{dt}}/cityId/{{asyncSelected}}/city/cityname/categoryId/{{get}}" ui-sref="event-search-definition">Search &raquo;</a>-->
            <a class="btn btn-success btn-lg" role="button" href="Search/">Search &raquo;</a>
        </div>
    </div>
</div> <!-- /container -->
